
<div class="heading-header">Sign Up!</div>

<div class="content-container">
	<p class="desc">
		Something something, I have no clue what to say here?
	</p>
	<form>
		<div class="form-table">
			<span class="cell">
				Full Name:
				<span class="input">
					<input type="text" placeholder="John Doe" />
				</span>
			</span>
			
			<span class="cell">
				Email:
				<span class="input">
					<input type="text" placeholder="johndoe@example.com" />
				</span>
			</span>
			
			<span class="cell">
				Password:
				<span class="input">
					<input type="password" placeholder="********" />
				</span>
			</span>
			
			<span class="cell">
				Confirm Password:
				<span class="input">
					<input type="password" placeholder="********" />
				</span>
			</span>
			
			<br/>
			
			<span class="cell">
				<input type="checkbox" />
				I agree to the Terms &amp; Services.
			</span>
			
			<span class="cell">
				<button class="good-btn">Submit</button>
				<button class="bad-btn">Cancel</button>
				<span style="width:32px;display:inline-block;"></span>
			</span>
		</div>
	</form>
</div>